<!-- <form #f="ngForm">


    <label>Montant Facture</label>
    <input type="number" name="montantFacture" [(ngModel)]="facture.montantFacture">
    <label>Montant Remise</label>
    <input type="number" name="montantRemise" [(ngModel)]="facture.montantRemise">
    <label>Date Facture</label>
    <input type="Date" name="dateFacture" [(ngModel)]="facture.dateFacture">
    <input type="submit" (click)="updateFacture(facture)">
</form> -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Prix total</th>
                <th>Pourcentage Remise</th>
                <th>Montant Remise</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of facture">
                <td>
                    {{f.idDetailFacture}}
                </td>
                <td>
                    {{f.produit.libelle}}
                </td>
                <td>
                    {{f.qte}}
                </td>
                <td>
                    {{f.prixTotal}}
                </td>
                <td>
                    {{f.pourcentageRemise}}
                </td>
                <td>
                    {{f.montantRemise}}
                </td>

                <td>
                    <a> <i class="icon-reorder"></i></a>
                </td>
            </tr>




        </tbody>
    </table>
</div>